<div class="dropdown">
  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="profileNavToggle"
    data-toggle="dropdown" aria-expanded="false">
    {{ name }}
  </button>
  <ul class="dropdown-menu" aria-labelledby="profileNavToggle">
    <li><a class="dropdown-item" href="/profile.html">Profile</a></li>
    {{!-- <li><a class="dropdown-item" href="/profile/requests.html">Requests</a></li> --}}
    <li><hr class="dropdown-divider" /></li>
    <li><button class="js-logout dropdown-item link">Sign out</button></li>
  </ul>
</div>