<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/index.html">
        <object class="d-inline-block align-top pe-none" width="200" type="image/svg+xml" data="./../../images/brand.svg">
          <img src="./../../images/brand.svg" alt="logo">
        </object>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#responsive-nav"
        aria-controls="responsive-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="responsive-nav">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/index.html">Home</a>
          </li>
        </ul>
        <div id="js-nav-profile">
          {{!-- REPLACED IN SCRIPTS --}}
        </div>
      </div>
    </div>
  </nav>
</div>