<div class="footer">
  <div class="container">
    <div class="footer-inner">
      <p class="small text-center text-muted">
        developed by <a href="http://zotov.one" target="_blank" rel="noopener noreferrer">Zotov DA</a>
      </p>
      <div class="footer-inner__line bg-primary">{{!-- draw with styles --}}</div>
    </div>
  </div>
</div>

{{!-- PLACE FIXED ELEMENTS HERE --}}
<div style="position: fixed; bottom: 20px; right: 20px; z-index: 9" id="js-toasts-content"></div>