<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <meta name="description" content="Find buddy to give you a hand in your journey" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Place favicon.ico in the root directory -->
  <link rel="shortcut icon" href="favicon.ico" />

  <!-- You can use open graph tags to customize link previews.
        Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:url" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Travell Buddy" />
  <meta property="og:description" content="Find buddy to give you a hand in your journey" />
  <!-- TODO: insert correct logo -->
  <!-- <meta property="og:image" content="https://webpack.js.org/icon_192x192.png" /> -->
</head>