<div class="alert alert-success" role="alert">
  <h4 class="alert-heading"><svg class="bi" width="32" height="32" fill="currentColor">
      <use xlink:href="bootstrap-icons.svg#check2-circle" />
    </svg> Well done!</h4>
  <p>We will send you a letter on launch. Thank you for your interest.</p>
</div>