<div class="alert alert-danger" role="alert">
  <p>Error in handling response from authorizer.
    <br> Please write us on <a href="mailto:support@travelbuddy.io">support@travelbuddy.io</a> and describe what
    happened.</p>
  <a class="btn btn-light" href="/login.html">Back to login</a>
</div>