<div class="alert alert-success" role="alert">
  <h4 class="alert-heading"><svg class="bi" width="32" height="32" fill="currentColor">
      <use xlink:href="bootstrap-icons.svg#check2-circle" />
    </svg> Well done!</h4>
  <p>We sent you email. Check your mailbox and follow instructions in the letter.</p>
</div>