<!DOCTYPE html>
<html lang="en">
{{> head title=title}}

<body>
  <main>
    {{> header/header}}

    <div id="email-verify" class="alert alert-info d-none" role="alert">
      You need to verify your email to start using the service
    </div>
    <div id="profile-create" class="alert alert-info d-none" role="alert">
      You need to finish registration to start using the service
      <br> <a href="/profile.html?fromRegister">Finish Registration</a>
    </div>

    <div class="banner bg-dark">
      <div class="banner__inner text-white">
        <div class="mb-5">
          <h3 class="text-center">
            While traveling you can't waste your time
          </h3>
          <h5 class="text-center">
            Assign your tasks to buddies
            <br> who lives at the place of stay
          </h5>
          <div class="text-center">
            <a class="text-white-50" href="/about.html"><u>How it works?</u></a>
          </div>
          <div id="to-user-requests" class="text-center d-none">
            <button data-target="user-requests" class="btn btn-secondary mt-4 js-scroll-to">To your requests</button>
          </div>
        </div>

        <div id="banner-container">

        </div>


      </div>
    </div>

    <section id="user-requests" class="d-none">
      <div class="container">
        <h1>Your requests</h1>
        <div id="user-requests-list-container"></div>
      </div>
    </section>

    <section id="buddy-requests" class="bg-light d-none">
      <div class="container">
        <h1>Someone you can help</h1>
        <div class="text-muted">You see this, because you registered as buddy in <span id="buddy-city"></span></div>
        <div id="buddy-requests-list-container"></div>
      </div>
    </section>
  </main>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  {{> footer}}
</body>

</html>