<!DOCTYPE html>
<html lang="en">
{{> head title=title}}

<body>
  <main>
    {{> header/header}}

    <section>
      <div id="js-user-profile" class="container">
        {{!-- Loaded with scripts --}}
        <div class="text-center">
          <span class="spinner-border spinner-border-sm text-primary" role="status"></span>
          <span class="text-muted">loading&hellip;</span>
        </div>
      </div>
    </section>
  </main>

  {{> footer}}
</body>

</html>