<!DOCTYPE html>
<html lang="en">
{{> head title=title}}

<body>
  <main>
    {{> header/header}}

    <div class="container">
      <div class="col-md-8 col-lg-6 mx-auto mt-5">
        <div class="card">
          <div class="card-header">
            Reset your password
          </div>
          <div class="card-body">
            <form action="" id="js-reset-form" novalidate>
              <div class="mb-3">
                <label for="reset-email" class="form-label">Email address</label>
                <input name="email" type="email" required class="form-control" id="reset-email">
                <div class="invalid-feedback">
                  Please provide a valid email.
                </div>
              </div>
              <div class="form-feedback invalid-feedback"></div>
              <button type="submit" class="btn btn-primary mt-2">Reset</button>
              <div class="form-text mt-2">After you press Reset button, you will receive email letter on your next steps
                to recover your access.</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

  {{> footer}}
</body>

</html>