@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

@import './media';

// bootstrap

@import './vars';
@import '../../node_modules/bootstrap/scss/bootstrap';

@import './landing';
// stick to bottom footer
html {
  height: 100%;
}
html,
body {
  overflow-x: hidden;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
section {
  padding: 70px 0;
}
@include media-breakpoint-down(md) {
  section {
    padding: 35px 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  &-inner {
    &__line {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 1px;
    }

    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  }

  padding-top: 25px;

  grid-row-start: 2;
  grid-row-end: 3;
}
