<div class="alert alert-success fade show" role="alert">
  <h4><svg class="bi" width="32" height="32" fill="currentColor">
      <use xlink:href="bootstrap-icons.svg#check2-circle" />
    </svg> Created!</h4>
  <p>All local buddies will be notified about your request.
    After someone respondes you will get notification on email.
  </p>
  <div class="text-center">
    <button id="request-create-more" class="btn btn-primary">Add one more</button>
  </div>
</div>