<div>
  <div class="row js-requests-list">
    {{#each requests }}
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
      {{> requests/requestItem }}
    </div>
    {{/each}}
  </div>

  {{!-- TODO: closed requests --}}
</div>