<!DOCTYPE html>
<html lang="en">
{{> templates/head title=title}}

<body>
  <main>
    <div class="container">
      <h1>Travell buddy</h1>
      <p>work in progress</p>
      <button class="btn btn-primary">Cheers</button>
    </div>
  </main>
  <div class="footer"></div>
</body>

</html>