<!DOCTYPE html>
<html lang="en">
{{> templates/head title=title}}

<body>
  <main>
    {{> templates/header/header}}

    <div class="container">
      <div class="col-md-8 col-lg-6 mx-auto mt-5">
        <div class="card">
          <div class="card-header">
            Выберите способ входа
          </div>
          <div class="card-body">
            <a
              href="/auth.html?provider=google&access=test-auth-token&refresh=test-refresh-token&name=X Æ A-12">Войти
              с помощью Goggle</a>
          </div>
          <div class="card-footer text-muted">
            <a class="link-secondary disabled" tabindex="-1" aria-disabled="true" href="javascript:void()">Как
              используются мои данные?</a>
          </div>
        </div>
      </div>
    </div>
  </main>

  {{> templates/footer}}
</body>

</html>