<div class="col-12 col-md-10 col-lg-8 mx-auto">
  <h3>Complete your registration</h3>
  <div class="progress mb-5">
    <div class="progress-bar progress-bar-striped w-100 bg-success" role="progressbar"></div>
  </div>

  <h4>Well done 🎉</h4>
  <p>You are all set up. Now you have full access to service!</p>
  <button id="js-to-profile" class="btn btn-primary">To profile</button>
</div>