<div class="col-12 col-md-10 col-lg-8 mx-auto">
  {{#if needCreate}}
  <h3>Complete your registration</h3>
  <div class="progress mb-5">
    <div class="progress-bar progress-bar-striped progress-bar-animated w-50" role="progressbar"></div>
  </div>
  {{/if}}
  <form class="js-profile-edit-form">
    <p>Choose your photo</p>

    <button type="submit" class="btn btn-primary">Next</button>
    <button id="js-profile-step2-skip" type="button" class="btn btn-secondary">Skip</button>
  </form>
</div>