<div class="col-12 col-md-10 col-lg-8 mx-auto">
  <h3>Complete your registration</h3>
  <div class="progress mb-5">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%;" role="progressbar"></div>
  </div>

  <p>Do you want to become buddy and help others in your locaiton?</p>
  <button id="js-create-buddy" class="btn btn-primary">Yes</button>
  <button id="js-step-skip" class="btn btn-secondary">No</button>
</div>